.board-container {
	background-color: var(--primary-color);
	border-radius: 7px;
	padding: 15px;
	width: 28.5%;
	height: fit-content;
	margin: 0.5rem;
	color: var(--tertiary-color);
	box-shadow: var(--tertiary-color) 0px 0px 5px;
}

.board-header-container {
	display: flex;
	padding: 10px;
	padding-top: 0px;
	border-bottom: 2px solid var(--secondary-color);
	align-items: center;
}

.board-title {
	font-weight: bold;
	font-size: 20px;
	color: var(--clear-color);
	text-decoration: none;
	cursor: pointer;
}

.board-title:hover {
	text-decoration: underline;
}

.board-date {
	margin-left: auto;
	text-align: right;
	font-weight: bold;
	display: block;
}

.board-options-button {
	background-color: transparent;
	border: none;
	border-radius: 7px;
	margin-left: 10px;
	color: var(--tertiary-color);
}

.board-description-box {
	margin-top: 7px;
	margin-bottom: 5px;
}

.board-options-container {
	display: flex;
	flex-direction: column;
	background-color: var(--primary-color);
	box-shadow: var(--tertiary-color) 0px 0px 5px;
	border-radius: 7px;
	position: relative;
	top: 39px;
	right: 15%;
	width: 30%;
	margin: -15%;
}

.board-menu-options-button {
	border-radius: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--tertiary-color);
	background-color: transparent;
	padding: 7.5px;
	font-size: 14px;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid var(--tertiary-color);
}

.board-menu-options-button:last-child {
	border: none;
	border-bottom: none;
}

@media only screen and (max-width: 600px) {
	.board-container {
		width: 92.5%;
		margin: 0;
		margin-bottom: 1rem;
	}
}