@keyframes showup {
	0% {
		top: -7%;
		filter: opacity(0.0);
	}
	100% {
		top: 25%;
		filter: opacity(1.0);
	}
}

.message-modal {
	position: absolute;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 7px;
	left: 50%;
    transform: translate(-50%, -50%);
	box-shadow: var(--tertiary-color) 0px 0px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	top: 25%;
	z-index: 50;
}

.message-normal, .message-normal * {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
}

.message-error, .message-error * {
	background-color: var(--clear-color);
	color: var(--primary-color);
}

.hide-modal {
	display: none;
}

.message-modal-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 7px;
}

.message-modal-button {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 7px;
	padding: 4px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 7px;
	width: 50%;
}

.message-modal-content {
	font-size: 16px;
}

.show-modal {
	animation-name: showup;
	animation-duration: 0.2s;
}

.message-modal-buttons {
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 600px) {
	.message-modal {
		width: 90%;
	}
}