.task {
	margin: 5px;
	background-color: var(--secondary-color);
	padding: 10px;
	border-radius: 7px;
	cursor: pointer;
	color: var(--tertiary-color);
	display: flex;
	flex-direction: column;
}

.task-message {
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}

.task-expired-container {
	background-color: var(--clear-color);
	color: var(--primary-color);
}

.task-data-container {
	width: 24%;
	padding: 15px;
	background-color: var(--primary-color);
	box-shadow: var(--tertiary-color) 0px 0px 5px;
	z-index: 40;
	border-radius: 7px;
	color: var(--tertiary-color);
}

.task-data-header {
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-bottom: 10px;
}

.task-data-title {
	margin-right: auto;
	font-weight: bold;
	color: var(--clear-color);
}

.task-data-date {
	font-weight: bold;
	margin-left: 7px;
}

.task-data-date-container {
	margin-left: auto;
	text-align: right;
	display: block;
	margin-top: 10px;
}

.task-data-close {
	margin-top: -2px;
	margin-left: 5px;
	background-color: var(--clear-color);
	color: var(--primary-color);
	border: none;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	font-weight: bold;
}

.task-data-description {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 7px;
}

.task-data-deadline-container {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
}

.task-deliver-url {
	margin-top: 10px;
	width: stretch;
	padding: 5px;
	border: 2px solid var(--secondary-color);
	border-radius: 7px;
	background-color: var(--secondary-color);
}

.task-deliver-button {
	margin-top: 10px;
	width: stretch;
	padding: 5px;
	border: none;
	border-radius: 7px;
	background-color: var(--clear-color);
	font-weight: bold;
	color: var(--primary-color);
}

.task-deliver-file {
	margin-top: 10px;
	display: block;
	width: stretch;
	padding: 5px;
	border: 2px solid var(--secondary-color);
	border-radius: 7px;
	text-align: center;
	background-color: var(--primary-color);
}

.hidden-input {
	position: absolute;
	width: 0;
	height: 0;
	filter: opacity(0);
}

.task-header-button {
	border: none;
	background-color: transparent;
	color: var(--clear-color);
	margin-left: 5px;
	margin-right: 7.5px;
}

.task-data-title-editing {
	font-weight: bold;
	width: 75%;
	margin-right: auto;
	border: none;
	background-color: transparent;
	text-decoration: underline;
	color: var(--clear-color);
}

.task-data-description-editing {
	display: block;
	padding: 5px;
	width: stretch;
	color: var(--tertiary-color);
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	border-radius: 7px;
}

.task-data-editing-type {
	margin-top: 10px;
	width: stretch;
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	padding: 5px;
	border-radius: 7px;
	color: var(--tertiary-color);
}

.task-data-edit-deadline-container {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task-data-edit-deadline-check {
	width: 20px;
	height: 20px;
	border: 1px solid var(--tertiary-color);
	border-radius: 7px;
}

.task-edit-deadline-date {
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	border: 1px solid var(--secondary-color);
	border-radius: 7px;
	padding: 5px;
}

.task-dragging {
	filter: brightness(1.5);
}

.delivery-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
}

.delivery-url {
	color: var(--teriary-color);
	font-weight: bold;
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.delivery-button {
	color: var(--clear-color);
	background-color: transparent;
	border: none;
	font-size: 18px;
}

@media only screen and (max-width: 600px) {
	.task-data-container {
		width: 75%;
		font-size: 18px;
	}

	.task-deliver-button {
		font-size: 18px;
		height: 5vh;
	}

	.task-deliver-file {
		height: 4vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.task-header-button {
		font-size: 20px;
		margin-right: 20px;
	}

	.task-data-close {
		height: 26px;
		width: 26px;
	}
}