.column {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 7px;
	min-width: 20vw;
	max-width: 20vw;
}

.column-header {
	background-color: var(--secondary-color);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	color: var(--tertiary-color);
	text-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	display: flex;
	flex-direction: row;
}

.task-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	min-height: 75vh;
	max-height: 75vh;
	overflow-y: auto;
}

.create-task-button {
	background-color: transparent;
	border: 3px solid var(--secondary-color);
	color: var(--secondary-color);
	border-radius: 7px;
	padding: 5px;
	margin: 5px;
	font-size: 20px;
}

.create-task-button:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.column-title {
	width: 100%;
	display: block;
}

.archive-column-button {
	background-color: transparent;
	border: none;
	color: var(--clear-color);
}

.column-dragging {
	filter: brightness(1.5);
}