.add-board-container {
	width: 32%;
	padding: 10px;
	display: block;
	margin: 0.5rem;
	border-radius: 7px;
	border: 5px solid var(--secondary-color);
	color: var(--secondary-color);
	max-height: 36vh;
	background-color: transparent;
}

@media only screen and (max-width: 600px) {
	.add-board-container {
		width: 95%;
	}
}