:root {
	--clear-color: #d84727;
	--primary-color: #D9D9D9;
	--secondary-color: #B5B5B5;
	--tertiary-color: #2d3142;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--tertiary-color);
	overflow-x: hidden;
	max-width: 100%;
}

button, input[type="submit"] {
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	filter: brightness(0.925);
}

.connecting {
	color: var(--primary-color);
	filter: opacity(0.075);
	text-align: center;
}

.screen-centered {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spaced {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.absolute-centered {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.background-modal {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	filter: opacity(0.95);
	background-color: var(--tertiary-color);
}