@keyframes menu-showup {
	0% {
		transform: translateX(80%);
	}
	100% {
		transform: translateX(0%);
	}
}

.archive-header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 20px;
}

.archive-go-back {
	display: none;
	color: var(--primary-color);
	background-color: var(--clear-color);
	padding: 4px;
	border: none;
	border-radius: 100%;
}

.archive-label {
	font-size: 24px;
	font-weight: bold;
	color: var(--tertiary-color);
}

.archive-go-back-flying {
	margin-right: auto;
	margin-top: 10px;
}

.archive-container {
	background-color: var(--primary-color);
	box-shadow: var(--tertiary-color) 0px 0px 5px;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 15px;
	width: 25vw;
	height: 90vh;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	animation-name: menu-showup;
	animation-duration: 0.2s;
}

.archive-message {
	margin-top: 10px;
	color: var(--secondary-color);
}

.restore-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
	width: 85%;
	margin-bottom: 10px;
}

.restore-button {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--clear-color);
	color: var(--primary-color);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	font-weight: bold;
}

.restore-button-icon {
	margin-right: 5px;
}

@media only screen and (max-width: 600px) {
	.archive-container {
		width: stretch;
	}

	.archive-go-back {
		display: block;
		padding-left: 6px;
		padding-right: 6px;
	}

	.archive-header {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}