.theme-picker-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-color);
	box-shadow: var(--tertiary-color) 0px 0px 5px;
	padding: 15px;
	border-radius: 7px;
	min-width: 35%;
	z-index: 2000;
}

.theme-picker-title {
	text-align: center;
	color: var(--tertiary-color);
	font-weight: bold;
	font-size: 20px;
}

.theme-picker-button {
	background-color: var(--clear-color);
	color: var(--primary-color);
	border: none;
	border-radius: 7px;
	font-size: 16px;
	font-weight: bold;
	padding: 7px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

.theme-container {
	background-color: var(--secondary-color);
	padding: 5px;
	border-radius: 7px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	justify-content: flex-start;
	align-content: flex-start;
}

.theme-picked {
	border: 3px solid var(--clear-color);
	border-radius: 10px;
}

.theme {
	margin: 5px;
	width: 29%;
	background-color: transparent;
}

.theme-not-picked {
	border: none;
}

.create-theme-button {
	padding: 10px;
	border-radius: 7px;
	margin: 5px;
	width: 29%;
	border: 2px solid var(--clear-color);
	background-color: var(--primary-color);
	color: var(--clear-color);
}

@media only screen and (max-width: 600px) {
	.theme-container {
		width: 90%;
	}
}